<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CV - Nisrin Mouggal</title>

    <!-- D3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.css" rel="stylesheet">

    <!-- Les charts -->
    <script src="js/dimple.v2.3.0.min.js"></script>

  </head>

  <body id="page-top">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Start Bootstrap</span>
        <span class="d-none d-lg-block">
          <img id=profileImage class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/nisrin.jpg" alt="">
        </span>
      </a>

    <header class="header_area">
	<div class="row">
                    <div class="col-md-2 ">
                        <div class="form-group">
                            <label for="etudiantList">Etudiants</label>
                            <select class="form-control" id="etudiantList" >
                            </select>
                        </div>
                    </div>
                </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <select  id="langue">
                        <option value="fr" data-icon="img/flag-fr.png" selected>FR</option>
                        <option value="en" data-icon="img/flag-gb.png">EN</option>
                        <option value="ar" data-icon="img/flag-dz.png">AR</option>
                    </select>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="#"><img src="img/logo2.png" alt=""></a>
                    <a class="navbar-brand logo_inner_page" href="#"><img src="img/logo2.png" alt=""></a>      
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav">
                            <li class="nav-item"><a id="accueil" class="nav-link" href="index.html" style="margin-left: -15px">Accueil</a></li>
                            <li class="nav-item"><a id="ensavoirplus" class="nav-link" href="#about">À Propos</a></li>
                            <li class="nav-item"><a id="mesvoyages" class="nav-link" href="#maptitle">Voyages</a></li>
                            <li class="nav-item"><a id="mescompetences" class="nav-link" href="#skills">Compétences</a></li>
                            <li class="nav-item"><a id="mesprojets" class="nav-link" href="#projects">Projets</a></li>
                            <li class="nav-item"><a id="mecontacter" class="nav-link" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container-fluid p-0">

      <section  id="about">
        <div class="my-auto">
          <h1 class="mb-0">
            <span id="firstName">Mouggal</span>
            <span id="lastName" class="text-primary">Nisrin</span>
          </h1>
          <div class="subheading mb-5">
            <span id="adress">2 rue de legnano colombes </span> .
            <span id="phoneNumber">06.26.88.80.84</span> ·
            <a id="mail" href="mailto:nisrinrina@gmail.com">nisrinrina@gmail.com</a>
          </div>
          <p class="mb-5" id="bio"></p>
          
          
            <ul id="socialMedia" class="list-inline list-social-icons mb-0">

            
            <li class="list-inline-item">
              <a id="facebook" href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>

            <li class="list-inline-item">
              <a id="twitter" href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a id="linckedin" href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a id="github" href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            

          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

        <span id="experienceTarget">

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">élève INGÉNIEUR</h3>
                
                <ul>
                  <li>C# .Net/ JS/ TS/ Angular/ SharePoint Online/ Azure/ SPFX/ Active Directory/ Git/ JIRA/ Agile </li>
                  <li> Développement des Add-In-SharePoint Online</li>
                  <li> Développement des WebParts en SharePoint Framework</li>
                  <li> Développement & déploiement des WebJobs sur Azure </li>
                  <li> Développement d'une Web API (generate and refresh token Oauth 2) pour l'accessibilité des différentes ressources du groupe </li>
                  <li> Développement d'un module d'authentification pour une application Mobile (IONIC) </li>
                  <li> Traitement des incidents </li>
                  <li> Formation utilisateurs </li>
                  <li> Documentation du code </li>
              </ul>
                 </div>
              
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Analyse, conception et réalisation d'une application mobile d'un système de planification de transport des employés.</h3>
                <div class="subheading mb-3">centre d’appel « Total-Call », Casablanca - Maroc</div>
                <ul>
                  <li>Rédaction du cahier des charges, analyse des besoins,conception et modélisation UML. </li>
                  <li> Développement de l'application mobile et gestion de la base de données.</li>
                </ul>    
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">juin - juillet 2018 </span>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Service informatique à la commune Fès - Maroc</h3>
                <div class="subheading mb-3">la commune Fès</div>
                <ul>
                  <li>Réalisation d’une application en java pour divers certificats. </li>
                  <li> Environnement technique : Java, MySQL</li>
                  

              </ul>                </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">juin - aout 2017</span>
              </div>
            </div>

        </span>

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Formations</h2>

          <span id="educationTarget">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Université Paris 8</h3>
                <div class="subheading mb-3">Master 2 Infomatique THYP</div>
                <div>Master 2 Infomatique </div>
                <p></p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">2019 - 2020</span>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">ESISA</h3>
                <div class="subheading mb-3">Master 1 Informatique</div>
                <div>Master 1 Infomatique </div>

                <p></p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">2018 - 2019</span>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">ESISA</h3>
                <div class="subheading mb-3">BAC+3 ingenierie logiciel</div>
                <div>BAC+3 ingenierie logiciel</div>

                <p></p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">2015 - 2018</span>
              </div>
            </div>

           
        </span>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Compétences</h2>

          <div class="subheading mb-3">Langages de programmation &amp; Outils</div>


          <span id="competanceTarget">
              <ul class="list-inline list-icons">
                  <li class="list-inline-item">
                    <i class="devicons devicons-html5"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-css3"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-javascript"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-jquery"></i>
                  </li>
                 
                  <li class="list-inline-item">
                    <i class="devicons devicons-grunt"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-gulp"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-npm"></i>
                  </li>
                </ul>
      
                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Mobile-First, Responsive Design</li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Browser Testing &amp; Debugging</li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Functional Teams</li>
                  <li>
                    <i class="fa-li fa fa-check"></i>
                    Agile Development &amp; Scrum</li>
                </ul>
          </span>

          <br>

          <div class="subheading mb-3" id="messageHover"></div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5"></h2>
          <span>
            <p id="InterestsTarget">
                   </p>
          </span>
          </div>
      </section>

      <!--
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Awards &amp; Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Google Analytics Certified Developer</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Mobile Web Specialist - Google Certification</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              2<sup>nd</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
            <li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - James Buchanan High School - Hackathon 2006</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              3<sup>rd</sup>
              Place - James Buchanan High School - Hackathon 2005</li>
          </ul>
        </div>
      </section>
      -->

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

    <!-- My app core -->
    <script src="js/core.js"></script>

  </body>

</html>
